<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupos</title>
    <link rel="stylesheet" type="text/css" href="../src/styles/grupos.css">
</head>

<body>
    <header>
        <img src="../img/info.png" alt="">
        <h1>Informacion del grupo</h1>
    </header>
    <button class="btn-volver"><a href="./grupos.html">Volver</a></button>

    <main>
        <div class="integrantes-container"></div>
        <!-- <div class="card">     
                <li><span>Nombre:</span></li>
                <li><span>Apellidos:</span></li>
                <li><span>Telefono:</span></li>
                <li><span>Email:</span></li>
            </ul> -->
        </div>

    </main>


    <script src="../scripts/info.js"></script>
</body>

</html>