li {
  list-style: none;
}

span {
  font-weight: bold;

}

.btn-volver {
  position: absolute;

  top: 30px;
  left: 30px;
  background-color: rgb(233, 233, 233);
  color: white;
  width: 95px;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: .5s;
}

.btn-volver:hover {
  background-color: orangered;

}

.btn-volver a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: uppercase;

}

img {
  max-width: 200px;
  max-height: 150px;
  padding-top: 20px;
}

body {
  background-color: #F8F8F8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: orangered;
  -webkit-text-stroke: 1px black;
}

form {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 5px #BFBFBF;
  width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: orangered;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;

}

button[type="submit"]:hover {
  background-color: #003366;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #FFFFFF;
  box-shadow: 30px 20px 100px 30px rgba(5, 39, 133, 0.2);
  border-radius: 5px;
  margin: 20px;
  width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 3rem;
  }

  form {
    width: 50%;
    margin: 0 auto;
  }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  form {
    width: 80%;
    margin: 0 auto;
  }
}